nav {
	background: $charcoal;
	color: $white;
	padding: 25px 0;
	box-shadow: 0 0 8px rgba(58, 58, 58, 0.25);

	@include tablet-portrait {
		padding: 50px 0;
	}

	.wrapper {
		@include tablet-landscape {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;		

		@include tablet-landscape {
			width: 50%;
		}

		.logo {
			img {
				max-width: 110px;

				@include tablet-landscape {
					max-width: 200px;
				}
			}
		}

		.hamburger {
			@include tablet-landscape {
				display: none;
			}

			a {
				display: block;
				width: 36px;

				&:before,
				&:after {
				  background-color: #fff;
				  content: '';
				  display: block;
				  height: 4px;
				  transition: all 200ms ease-in-out;
				}

				&:before {
				  box-shadow: 0 10px 0 #fff;
				  margin-bottom: 16px;
				}

				&.active:before {
				  box-shadow: 0 0 0 #fff;
				  transform: translateY(10px) rotate(45deg);
				}

				&.active:after{
				  transform: translateY(-10px) rotate(-45deg);
				}
			}
		}
	}

	.subnavs {
		margin: 50px 0 25px 0;
		display: none;

		@include mobile-landscape {
			.subnavs-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		@include tablet-portrait {
			margin: 50px 0 0 0;
		}

		@include tablet-landscape {
			display: block !important;
			margin: 0;

			.subnavs-wrapper {
				flex: 1;
				justify-content: flex-end;

			}
		}
	}

	.subnav {
		width: 100%;

		& + .subnav {
			padding-top: 50px;
		}

		@include mobile-landscape {
			width: 42.5%;
			margin: 0 3.75%;

			&.coaching {
				text-align: right;
			}
		
			& + .subnav {
				padding-top: 0;
			}
		}

		@include tablet-landscape {
			width: 380px;
			margin: 0;

			&.coaching {
				text-align: left;
			}

			& + .subnav {
				padding-top: 40px;
			}
		}
	}

	.headline {
		padding-bottom: 5px;

		h4 {
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			color: $gold;
		}		
	}

	.links {

		@include tablet-portrait {
			display: flex;
			flex-wrap: wrap;
			padding: 0 0 0 2px;
		}

		a {
			color: $white;
			font-size: 1em;
			padding: 5px 0;
			display: block;
			width: 100%;

			&:hover {
				text-decoration: underline;
			}

			@include tablet-landscape {
				width: auto;

				& + a {
					&:before {
						content: '·';
						display: inline-block;
						margin: 0 12px;

					}
				}
			}
		}
	}
}


