body.home {


	section#about {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 640px;
		}

		h2 {
			text-transform: uppercase;
			font-size: 1.25em;
			padding-bottom: 10px;
			font-weight: 900;
		}

		p {
			font-size: 1.25em;
			line-height: 1.5em;
			padding: 0 0 30px 0;

			& + h2 {
				padding-top: 30px;
			}
		}

		a {
			color: $gold;
			text-decoration: underline;
		}

		h3 {
			padding-top: 30px;
			font-family: $professor;
			font-weight: normal;
			font-size: 2em;
		}
	}



}