body.single-teams {

	section#team-profile {
		@include section-spacing(50, 50, 75, 75);

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		article {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
			}


		}

		aside {
			width: 100%;

			@include tablet-landscape {
				width: 33.3333%;
			}
		}
	}

	.basic-info {
		text-align: center;
		width: 100%;
		
		.headline {
			padding-bottom: 100px;
		}
	}

	.tournament {
		.info {
			text-align: left;

			p {
				font-style: italic;
				padding-top: 10px;
			}
			
		}		
	}

	.game {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 20px 0;

		& + .game {
			border-top: 1px solid $light-gray;
		}

		.team {
			width: 40%;

			span {
				font-size: 1em;
			}

			a {
				display: inline-block;
				border-bottom: 1px dotted $gold;
				padding: 2px 0;
			}
		}

		.team-1 {
			text-align: right;
			padding-right: 20px;
		}

		.team-2 {
			text-align: left;
			padding-left: 20px;
		}

		.score {
			width: 20%;
			text-align: center;
			font-family: $aktiv;
			font-weight: 700;
			font-size: 0.875em;
			display: flex;
			justify-content: center;
			align-items: center;

			span.points {
				display: block;
				padding: 10px 10px 9px 10px;
			}

			.dash {
				padding: 0 10px;
			}

			&.winner-team-1 {
				.points-team-1.current-team {
					background: #c8f7c5;
				}

				.points-team-2.current-team {
					background: #f1a9a0;
				}
			}
		}

		.game-type {
			width: 100%;
			text-align: center;
			padding-bottom: 5px;

			span {
				text-transform: uppercase;
				font-family: $aktiv;
				font-size: 0.6125em;
				font-weight: 500;
				letter-spacing: 0.1em;
			}
		}
	}





}