body.page-template-tournament-schedule {

	section#tournament-schedule {
		@include section-spacing(50, 50, 75, 75);

		.info {
			padding-bottom: 25px;

			h3 {
				font-size: 1.25em;
				padding-bottom: 5px;

			}

			p {
				font-size: 1em;
				line-height: 1.25em;
				font-style: italic;
			}
			
		}

	}


	table.results {
		width: 100%;
		text-align: left;

		thead {
			th {
				font-family: $aktiv;
				font-weight: 700;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				background: $gold;
				color: $white;
				padding: 10px;
				display: none;

				@include tablet-portrait {
					display: table-cell;
				}

			}
		}

		tbody {
			td {
				font-size: 1em;
				display: block;

				& + td {
					margin-top: 15px;
				}

				@include tablet-portrait {
					display: table-cell;
					padding: 15px 10px;
					font-size: 1.125em;

					& + td {
						margin-top: 0;
					}
				}

				span.label {
					display: block;
					padding-bottom: 3px;
					font-family: $aktiv;
					font-weight: 700;
					font-size: 0.75em;
					color: $gold;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					@include tablet-portrait {
						display: none;
					}
				}

				&.team {
					span.team-name {
						display: block;

						& + span.team-name {
							margin-top: 5px;
						}
					}

					a {
						display: inline-block;
						border-bottom: 1px dotted $gold;
						padding-bottom: 2px;
					}
				}
			}
		}

		.team {
			width: 100%;

			@include tablet-portrait {
				width: 20%;
			}
		}
	}




}