body {
	background: $white url(images/bg-texture.jpg) repeat center center;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

