html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $charcoal;
	font: 400 100%/1 $kepler;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $aktiv;
	font-weight: 700;
}


a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.headline {
	h1 {
		font-size: 3em;
		text-transform: uppercase;

	}
}

.btn {
	display: inline-block;
	padding: 12px 16px 10px 16px;
	font-family: $aktiv;
	font-size: 0.6125em;
	font-weight: 500;

	&.dark {
		background: $charcoal;
		color: $white;
	}
}