/* Colors
----------------------------------*/
$white: #fff;
$off-white: #F2F2F2;
$light-gray: #E6E6E6;
$mid-gray: #7B7977;
$charcoal: #3a3a3a;
$slate: #1a1a1a;
$black: #000;

$gold: #BA965B;
$light-gold: #E4CBA1;


/* Typography
----------------------------------*/
$aktiv: 'aktiv-grotesk-extended', sans-serif;
$kepler: 'kepler-std', serif;
$professor: 'professor', sans-serif;